:root {
  --md-msg-color-success-bg: #c6e38c;
  --md-msg-color-success-border: yellowgreen;
  --md-msg-color-success-text: darkgreen;
  --md-msg-color-warning-bg: #f5e778;
  --md-msg-color-warning-border: #e7ca25;
  --md-msg-color-warning-text: #a78909;
  --md-msg-color-info-bg: #cef0ff;
  --md-msg-color-info-border: #7fddfa;
  --md-msg-color-info-text: #0894c1;
  --md-msg-color-remove-text: orangered;
  --md-neutral-color-grey-light: #d9d9d9;
}

.form-table {
  margin-bottom: 50px;
}
.form-table th {
  white-space: nowrap;
}

.md-language__table {
  margin-bottom: 40px;
}
.md-language__table thead th,
.md-language__table td {
  text-align: center;
}
@media screen and (max-width: 782px) {
  .md-language__table thead th,
.md-language__table td {
    display: table-cell;
  }
}
.md-language__table thead th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
  border-bottom: 1px solid grey;
}
.md-language__table td {
  padding: 15px 5px;
}
.md-language__name, .md-language__code {
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .md-language__name {
    min-width: max-content;
    display: block;
  }
}
.form-table .md-language__default-title {
  max-width: max-content;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
}
.md-language__action-remove {
  color: var(--md-msg-color-remove-text);
  cursor: pointer;
}
.md-language__action-remove.dashicons-before:before {
  font-size: 1.2em;
  vertical-align: middle;
  margin-right: 3px;
}
.md-language__item--default .md-language__action-remove {
  display: none;
}

#md-general .form-table > tbody > tr > td {
  padding-left: 0;
  padding-right: 0;
}

.md-new-language,
td.md-post-type__area {
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}

td.md-post-type__area {
  display: flex;
  padding-top: 5px;
  flex-wrap: wrap;
}
td.md-post-type__area label:first-child {
  margin-top: 0;
}

.md-post-type__label {
  vertical-align: baseline;
  padding: 15px 30px 15px 0;
}

#md-translate .md-msg__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  flex-wrap: wrap;
  gap: 15px;
}
#md-translate .md-msg__warning .dashicons-before::before {
  margin-right: 5px;
}
#md-translate .md-translate__language-global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
#md-translate .md-translate__language-global label {
  min-width: 4em;
}
#md-translate .md-translate__language-global span {
  min-width: 3em;
  text-align: end;
}
#md-translate .md-translate__language-global progress {
  width: 100%;
}
#md-translate .md-translate__item-progress {
  vertical-align: middle;
  text-align: end;
}
#md-translate .col-container {
  --col-gap: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--col-gap);
  margin-bottom: var(--col-gap);
}
#md-translate .col-container > .col-left {
  line-height: 1.3;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  #md-translate .col-container {
    flex-direction: row;
  }
  #md-translate .col-container > .col-left {
    width: calc(30% - var(--col-gap));
    padding: 10px 10px 20px 0;
  }
  #md-translate .col-container > .col-right {
    width: 100%;
  }
  #md-translate .col-container thead tr > th:first-child {
    width: 100%;
  }
  #md-translate .col-container thead tr > th:last-child {
    min-width: 200px;
  }
}

.md-msg {
  margin: 1em 0;
  padding: 1em;
  border-radius: 3px;
}
.md-msg__success {
  background-color: var(--md-msg-color-success-bg);
  border: 1px solid var(--md-msg-color-success-border);
  color: var(--md-msg-color-success-text);
  font-weight: 500;
}
.md-msg__warning {
  background-color: var(--md-msg-color-warning-bg);
  border: 1px solid var(--md-msg-color-warning-border);
  color: var(--md-msg-color-warning-text);
  font-weight: 500;
}
.md-msg__info {
  background-color: var(--md-msg-color-info-bg);
  border: 1px solid var(--md-msg-color-info-border);
  color: var(--md-msg-color-info-text);
}
.md-msg__info .md-msg__action.button-primary {
  background-color: var(--md-msg-color-info-text);
  border-color: var(--md-msg-color-info-text);
}
.md-msg__hide {
  opacity: 0;
  transition: opacity 0.5s;
}

/*# sourceMappingURL=admin.css.map */
